thead th,
tbody td {
    text-align: start !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
}

tbody td:last-child {
    text-align: start !important;
}

td,
th {
    white-space: nowrap !important;
}

th:last-child,
td:last-child {
    width: 1% !important;
}

.status-sudah {
    color: green !important;
}

.status-belum {
    color: red !important;
}