thead th,
tbody td {
    text-align: start !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
}

tbody td:last-child {
    text-align: start !important;
}

td,
th {
    white-space: nowrap !important;
}

th:last-child,
td:last-child {
    width: 1% !important;
}

.status-sudah {
    color: green !important;
}

.status-belum {
    color: red !important;
}

.form-control-disabled,
input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly] {
    border: 1px solid #000 !important;
    background-color: #000 !important;
    color: #fff !important;
}

label:has(+ input[required])::after,
label:has(+ textarea[required])::after,
label:has(+ select[required])::after,
label:has(+ div[required])::after {
    content: " *";
    color: red;
    font-weight: bold;
}

textarea {
    overflow: hidden;
    resize: none;
}